form {
    width: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.styled-input{
    margin: 15px 0;
    height: 20px;
    padding: 10px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.styled-button{
    margin-top: 15px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #E5E5E5;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}